.header-wrapper {
    height: 130px;
    background-color: black;
    display:flex;
    align-items:center;
    font-family: 'Source Sans Pro', sans-serif;
}

.header-wrapper > .left-header > .logo img {
    width:300px;
    height:100%;
    padding:0px 30px;
}

.header-wrapper > .middle-header > .middle-header-bottom > .nav-wrapper {
    display:flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    padding:0px 30px;
    text-decoration: none;
} 

.header-wrapper > .middle-header > .middle-header-bottom > .nav-wrapper > .nav-link a {
    padding:10px;
    color:white;
    text-decoration: none;
}

.header-wrapper > .middle-header > .middle-header-bottom {
    display:flex;
    justify-content: center;
    color:white;
    text-decoration: none;
}

.header-wrapper > .middle-header > .middle-header-bottom > .Spark-tag {
    padding:0px;
    font-size:1.5rem;
    color:gray;
}



.header-wrapper > .middle-header > .middle-header-top {
    display:flex;
    justify-content: space-between;
    font-size:1.25rem;
    padding:10px 40px;
}

.header-wrapper > .middle-header > .middle-header-top > .explore-tag {
    color:#e6c255;
}

.header-wrapper > .right-header {
    padding-left: 120px;
    display:flex;
    align-items: center;
    justify-content:right;
    color:white;
    font-size: 1.5rem;

}

.header-wrapper > .right-header > .create > .chevron {
    display:flex;
    align-items: center;
    justify-content: right;
    padding-left: 10px;
    color:#47b971;
}

.header-wrapper > .right-header > .create {
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    border-radius: 3px;
    background-color: #36383f;
    padding:17px 25px;
}

.header-wrapper > .right-header > .magnify-glass {
    padding: 0px 20px;
    font-size:2rem;
    color:grey;
}

.header-wrapper > .right-header > .log-in {
    width:68px;
    border-radius: 5px;
    background-color: #36383f;
    padding:17px 20px 17px 25px;
}

.header-wrapper > .right-header > .Sign-up {
    width:100px;
    border-radius: 5px;
    background-color: #36383f;
    padding:17px 5px 17px 25px;
}

.pad {
    padding: 0px 12px;
}

.page {
    display:flex;
    
    
    font-family: 'Source Sans Pro', sans-serif;
    background-image:radial-gradient(grey,black);
    background-position: -500px 200px;
    
}



.page > .right-page {
    width:600px;
    height:550px;
    display:grid;
    grid-template-rows: 2fr;
    
}



.page > .right-page img {
    height:490px;
    padding-left:12px;
}



 .page > .right-page > .text h1 {
    width:600px;
    display:flex;
    justify-content:left;
    align-items: flex-start;
    max-height: 30px;
    font-size:1rem;
}
.page > .right-page > .text {
    width:600px;
    display:flex;
    justify-content:left;
    align-items: flex-start;
    max-height: 30px;
    padding-top:30px ;
    padding-left: 25px;
} 

.page > .right-page > .text > h1 > .T1 {
    color:white;
}

.page > .right-page > .text > h1 > .T2 {
    color:#6bcff4;
    padding-left: 5px;
}

.page > .right-page > .text > h1 > .T3 {
    color:white;
}

.page > .left-page > .button-tag {
    display:flex;
    justify-content: left;
    font-size:2rem;
}

.page > .left-page > .button-tag > .sign-up-for-free {
    width:250px;
    border-radius: 5px;
    background-color: #47b971;
    padding:17px 0px 17px 30px;
}

.page > .left-page > .button-tag > .learn-more {
    width:180px;
    border-radius: 5px;
    background-color: #111111;
    padding:17px 0px 17px 30px;
    color:white;
}

.page > .left-page > .Paragraphs > .Paragraph-1 {
    display:flex;
    justify-content:left;
    align-items:center;
    font-size:1.2rem;
    padding-left: 50px;
    color:white;
}

.page > .left-page > .Paragraphs > .Paragraph-2 {
    font-size: 2rem;
    padding-left:50px;
    color:white;
}

.page > .left-page > .Paragraphs > .Paragraph-1 > .C2 {
    text-decoration: bold;
    
}

.page > .left-page {
    width:900px;

    

}

.footer {
    height:150px;
    background-color: #191a1d;
    
}

.footer > .footer-wrapper {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size:1rem;
    color:white;
    
}

.footer > .footer-wrapper > .education h1 {
    display:flex;
    align-items: center;
    background-color:#36383f ;
}

.footer > .footer-wrapper > .teams h1 {
    display:flex;
    align-items: center;
    background-color: #36383f;
    
}

.footer > .footer-wrapper > .privacy h1 {
    display:flex;
    align-items: center;
    background-color: #36383f;
    
}

.footer > .footer-wrapper > .writing h1 {
    display:flex;
    align-items: center;
    background-color: #36383f;
    
}

.footer > .footer-wrapper {
    background-color:#36383f ;
}








